<!DOCTYPE html>
{% load cloudinary %}
{% load staticfiles %}
<html lang="pt">
	<head>
		<title>Tudo em um Botucatu</title>
		<!--
		<div class="logo">
			<img src="{% static 'image/logo.png' %}" alt="logo">
		</div>
		-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/botucatu.css">
	</head>
	<header class="opener">
		<title>Sejam bem vindos, e que possamos ajudar-te</title> 
		<div class='btns'>
			<p class='esse'><center><br><h1>BotucaNet</h1><br></center></p><p><center><h3>Não podemos levâ-lo aos melhores comércios de Botucatu,<br></h3></center><p><center><h3> então trouxemos o que eles têm de melhor até você!</h3></center></p>
			<table>
				<tr>
					<td><h2><a href="{% url 'core:vital' %}"><button class='btn1'>Av.Vital Brasil</button></a></h2></td>
					<td><h2><a href="{% url 'core:bairro' %}"><button class='btn2'>Bairro. Bairro</button></a></h2></td>
					<td><h2><a href="{% url 'core:centro' %}"><button class='btn3'>Centro</button></h2></a></td>
					<td><h2><a href="{% url 'core:domlucio' %}"><button class='btn4'>Av. Dom Lucio</button></h2></a></td>
				</tr>
			</table>
	</header>
	<body>
		{% block content %}
		{% endblock %}	
	</body>
	<div class="rodape">
		<footer></footer>
	</div>
</html>