{% extends 'mozi/base2.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}

	{% for mozi in mozis %}
	            <div class= 'ini'>
	            	<br>
	            	<br>
	                <center><h2><p>Publicado em:{{ mozi.datapublicacao }}</p></h2><center>
	                <center><h1><a href="{{ mozi.get_absolute_url }}">{{ mozi.titulo }}</a></h1></center>
	                <center><img>{% cloudinary mozi.imagem %}</center>
	                <center><p><h2>{{ mozi.apresentacao }}</h2></p></center>
	                <br>
	                <br>
	            </div>
	{% endfor %}

{% endblock %}


