<!DOCTYPE html>
{% load cloudinary %}
{% load staticfiles %}
<html lang="pt">
	<head>
		<title>Tudo em um Botucatu</title>
		<!--
		<div class="logo">
			<img src="{% static 'image/logo.png' %}" alt="logo">
		</div>
		-->
		<link rel="stylesheet" href="/static/css/botucatu.css">
	</head>
	<body>
		<title>Sejam bem vindos, e que possamos ajudar-te</title> 
		<div class='btns'>
			<tr class='esse'><h1>Por onde começar?(Só Botucatuenses entendem!)</h1></tr>
			<table>
				<tr>
					<td><h2><a href="{% url 'core:vital' %}"><button class='btn1'>Av.Vital Brasil</button></a></h2></td>
					<td><h2><a href="{% url 'core:bairro' %}"><button class='btn2'>Bairro. Bairro</button></a></h2></td>
					<td><h2><a href="{% url 'core:centro' %}"><button class='btn3'>Centro</button></h2></a></td>
					<td><h2><a href="{% url 'core:domlucio' %}"><button class='btn4'>Av. Dom Lucio</button></h2></a></td>
				</tr>
			</table>
		{% block content %}
		{% endblock %}	
	</body>
