<!DOCTYPE html>
{% load cloudinary %}
{% load staticfiles %}
<html lang="pt">
	<head>
		<title>Tudo em um Botucatu</title>
		<!--
		<div class="logo">
			<img src="{% static 'image/logo.png' %}" alt="logo">
		</div>
		-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/botucatu.css">
	</head>
	<header class="opener">
		<div class="logo">
			<img src="{% static 'images/logo2.png' %}" alt="logo"/>
		</div>
		<title>Sejam bem vindos, e que possamos ajudar-te</title> 
		<div class="texto">
			<center><br><h1 style="text_align:center;">BotucaNet</h1><br></center><!-- Pensar em uma animação bacana com css a ser inserida aqui -->
			<h2 style="text_align:center;">Não podemos levâ-lo aos melhores comércios de Botucatu,<br></h2></center><p><center><h2 style="text_align:center;"> então trouxemos o que eles têm de melhor até você!</h2></center></p>
		<div class='btns'>
			<table>
				<tr>
					<td><h2><a href="{% url 'core:vital' %}"><button class='btn1'>Av.Vital Brasil</button></a></h2></td>
					<td><h2><a href="{% url 'core:bairro' %}"><button class='btn2'>Bairro. Bairro</button></a></h2></td>
					<td><h2><a href="{% url 'core:centro' %}"><button class='btn3'>Centro</button></h2></a></td>
					<td><h2><a href="{% url 'core:domlucio' %}"><button class='btn4'>Av. Dom Lucio</button></h2></a></td>
				</tr>
			</table>
	</header>
	<body>
		{% block content %}
		{% endblock %}	
	</body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="rodape">
		<footer><center><h2><a href="{% url 'core:parte' %}" target="_blank"><button class='vcaqui'><br>Seu Comércio aqui!<br><br><br><br></button></a></h2></center></footer><!-- Fixar o footer na parte mais abaixo da tela no css, pra melhorar a visibilidade no celuçar -->
	</div>
</html>
