<!DOCTYPE html>
{% load cloudinary %}
{% load staticfiles %}
<html lang="pt">
	<head>
		<title>Tudo em um Botucatu</title>
		<!--
		<div class="logo">
			<img src="{% static 'image/logo.png' %}" alt="logo">
		</div>
		-->
		<link rel="stylesheet" href="/static/css/botucatu.css">
	</head>
	<body>
		<title>Bem vindos à Petmania, o lugar da mania de Pets</title><!-- Pensar numa maneira de tornar essa tag editável a qualquer momento pelo dono do app --> 
		<div class='btns'>
			<table>
				<tr>
					<td><h2><a href="{% url 'core:vital' %}"><button class='btn1'>Alimentacao</button></a></h2></td>
					<td><h2><a href="{% url 'core:bairro' %}"><button class='btn2'>Educacao</button></a></h2></td>
					<td><h2><a href="{% url 'core:centro' %}"><button class='btn3'>Acessorios</button></h2></a></td>
					<td><h2><a href="{% url 'core:domlucio' %}"><button class='btn4'>Higienizacao/Antiparasitas</button></h2></a></td>
				</tr>
			</table>
			<center><tr class='esse'><h1>Por onde começar?</h1></tr></center>
		{% block content %}
		{% endblock %}	
	</body>
