{% extends 'core/base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}
	<div class="valores">
		<p><h2><i>Valor:</i></h2><h3>Aqui será descrito o valor da idéia para o comércio que pretende vir a fazer parte do projeto.</h3></p> 
		<p><h2><i>Objetivo:</i></h2><h3>Aqui será descrito de maneira sucinta o objetivo do projeto, abordando de forma geral o problema ao qual o projeto se propõe a resolver</h3></p>
		<p><h2><i>Instruções:</i></h2><h3>O passo a passo que deve ser realizado para se ter o comércio dentro do projeto.</h3></p>
		<p><h2><i>Contato:</i></h2><h3>Aqui informar o email empresarial que viermos a criar.</h3></p> 
	</div>



{% endblock %}
