<!DOCTYPE html>
{% load cloudinary %}
{% load staticfiles %}
<html lang="pt">
	<head>
		<title>Tudo em um Botucatu</title>
		<!--
		<div class="logo">
			<img src="{% static 'image/logo.png' %}" alt="logo">
		</div>
		-->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/botucatu.css">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{{ post.titulo }}">
		<meta property="og:description" content="{{ post.apresentacao }}" >
		<meta property="og:image" content="{% cloudinary_url post.imagem %}" > 
		<meta property="og:url" content="{{ request.build_absolute_uri }}">
	</head>
	<body>
		<title id="topo">Bem vindos à Petmania, o lugar da mania de Pets</title><!-- Pensar numa maneira de tornar essa tag editável a qualquer momento pelo dono do app --> 
		<div class='btns'>
			<table>
				<tr>
					<td><h2><a href="{% url 'petmania:comida' %}"><button class='btn1'>Alimentacao</button></a></h2></td>
					<td><h2><a href="{% url 'petmania:educacao' %}"><button class='btn2'>Educacao</button></a></h2></td>
					<td><h2><a href="{% url 'petmania:acessorios' %}"><button class='btn3'>Acessorios</button></h2></a></td>
					<td><h2><a href="{% url 'petmania:higiene' %}"><button class='btn4'>Higienizacao/Antiparasitas</button></h2></a></td>
				</tr>
			</table>
			<center><tr class='esse'><h1>Por onde começar?</h1></tr></center>
		{% block content %}
		{% endblock %}	
	</body>
