* {margin:0;padding:0;}
body{
	background: white;  
	/*background-color: #000; */
	background-attachment: fixed;
	min-height: 100%;
  	height: auto;
  	position: relative;
  	margin: 0;
  	top: 0;
  	left: 0;
}
.logo img{
	display: hidden;
	margin: 0 0;   
  	/*padding-left: 80px; */ 
  	width: 15%;   
  	height: 1%; 
  	margin: 0;
  	float: left;
}
.texto{
	margin: 0 0;
}

header {
  background-color: solid transparent;
  background-attachment: fixed;
  color: white;
  text-align: center;
}


div.body-content{
  /** Essa margem vai evitar que o conteudo fique por baixo do rodapé **/
  margin-bottom: 40px;
}

table{
	position: relative;
    margin: 10px auto;
    padding: 0;
    width: 90%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
}

h1, h2{
	font-family: 'Luckiest Guy';
	margin: 0 auto;
	text-decoration:none;  
	color: black;
}
.ini h2{
	color: black;
}

.ini a{
	color: black;
	margin: 0 auto;
	padding-right: 40px; 
}

.ini a:hover{
	color: darkblue;
}

.btns{
	float: center;
}

.btn1{
	background: linear-gradient(SandyBrown, red);
	border-radius: 40%;
	border-color: black;
	color: white;
	width: 100%;
	height: 70px;
}
.btn1:hover {
	background: linear-gradient(red, SandyBrown);
	text-decoration: none;
	color: white;
	width: 100%;
	height: 70px;
}

.btn2{
	background: linear-gradient(SandyBrown, red);
	border-radius: 40%;
	border-color: black;
	color: white;
	width: 100%;
	height: 70px;
}
.btn2:hover {
	background: linear-gradient(red, SandyBrown);
	text-decoration: none;
	color: white;
	width: 100%;
	height: 70px;
}

.btn3{
	background: linear-gradient(SandyBrown, red);
	border-radius: 40%;
	border-color: black;
	color: white;
	width: 100%;
	height: 70px;
}
.btn3:hover {
	background: linear-gradient(red, SandyBrown);
	text-decoration: none;
	color: white;
	width: 100%;
	height: 70px;
}

.btn4{
	background: linear-gradient(SandyBrown, red);
	border-radius: 40%;
	border-color: black;
	color: white;
	width: 100%;
	height: 70px;
}
.btn4:hover {
	background: linear-gradient(red, SandyBrown);
	text-decoration: none;
	color: white;
	width: 100%;
	height: 70px;
}

.vcaqui{
 	background: linear-gradient(SandyBrown, red);
	border-radius: 60%;
	border-color: black;
	color: white;
	width: 25%;
	height: 100px;
 }
.imagem img{
	border-radius: 30%;
}

.ini img{
	max-width: 50%;
	max-height: 50%;
	border-radius: 100%;
	margin:0 auto;	
	border-style: dotted;
	border-width: 5px;
	float: top;
	overflow: auto;
}

.post img{
	border-radius: 30%;
	display: block;
	max-width: 80%;
	height: auto;
}

.btns h1{
	padding-left: 8%;
}

div.rodape{
	border-top: 20px solid transparent;
	border-right: 20px solid red;
	border-bottom: 40px solid transparent;
    border-left: 20px solid red; 
  	bottom: 0;
  	left: 0;
  	height: 15%;
  	position: fixed;
  	width: 100%;
 }
 /*
 .btns p{
 	padding-right: 30px;
 }
 Não deu certo, minha tentativa de centralizar o texto da página inicial
 */
/*
 footer{
 	width: 1%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
 }
 */
 
.valores h3{
	border: 2px solid;
	color: black;
	margin: 0 auto;
	border-color: black red black red;

}
div.rodape2 {
	margin: auto;
	width: 100%;
	bottom: 0;
	position: fixed;
}

.voltar{
	background-image:url('home.png');
	width: 10%;
	height: 100%;
	background-color: transparent;
	border: none;
}